*{
    margin: 0;
    padding: 0;
}

body{
    background: #3ca9e2;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.bubbles img { 
    width:50px ;
    animation: bubble 7s linear infinite;

}

.bubbles  { 
    width:100% ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;

}

@keyframes bubble {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
    
    
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 25px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 25px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
    width: 20px;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 25px;
}

.container{
    width: 80%;
    margin: 50px;
  

}

.contact-box{
    background: #fff;
    display: flex;

}

.contact-left{
    flex-basis: 60%;
    padding: 40px 60px
}

.contact-right{
    flex-basis: 40%;
    padding: 40px ;
    background: #1c00b5;
    color: #fff;
}

h1{
    margin-bottom: 10px;
}

.container p{
    margin-bottom: 40px;
}

.input-row {
    display: flex;
    justify-content:space-between ;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    border:1px solid #ccc ;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label{
    margin-bottom: 6px;
    display: block;
    color: #1c00b5;
}

button{
    background: #1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color:#fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background-color:#3ca9e2 ;
}
.contact-left h3{
    color: #1c00b5;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3{
   
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}

tr td{
    padding-top: 20px;
}
.popup img{
    width: 150px;
    margin-top: -50px;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  
}
.popup{
    width: 400px;
    background: #1f283b;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) ;
    text-align: center;
    padding: 0 30px 30px ;
    color: #fff;
    visibility:hidden ;
    transition: transform 0.5s ;
    z-index: 100;
}

.popup.active{
    visibility: visible;
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;

}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background:#33a34f;
    color: #fff ;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}



