
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 120vh;
    background-color: #fff ;
    background-position: center;
    position: relative;
    overflow: hidden;
  
    
}


  header {
    display: flex;
    justify-content: space-between;
    align-items: conter;
    padding: 10px 10%;
    background:linear-gradient(#d8edf8,#fff );


}

  body header  li ,a ,button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}


body header .logo {
    cursor: pointer;
    
}





body header .nav_links {
    list-style: none;
}

body header .nav_links  li {
    display: inline-block;
    padding: 0px 20px;
}

body header .nav_links li a {
    transition: all 0.3s ease 0s;
}

body header .nav_links li a:hover {
    color: #3ca9e2;
}

body header button {
    padding: 9px 25px;
    background-color: #3ca9e2 ;
    border: none;
    border-radius:50px;
    cursor: pointer;
    transition: all 0.3s case 0s;
}

body header button:hover {
    background-color: rgba(0, 136,169,0.8);
}

body header .content{
    color: #3ca9e2;
    position:absolute;
    top: 50%;
    left:10%;
    transform:translateY(-50%) ;
    z-index: 2;
}




.hero{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
  height:100vh;
  width: 100%;
  position:absolute;
  left: 2%;
  font-size: 32px;
  padding: 30px 0;
  top: 1%;
  
  
}


.side-bar{
    width: 50px;
    height: 120vh;
    background:linear-gradient(#fff ,#d8edf8 );
    position:absolute;
    left: 0;
    top:0;
    transition:0.3s ;
    transform: translate(-95%,0);
}

.side-bar:hover{
    transform: translate(0,0);
}
.menu{
    display: block;
    width: 25px;
    margin:15px auto 0;
    cursor: pointer;
}

.social-links img,.useful-links img{
    width: 25px;
    margin: 5px auto;
    cursor:pointer;
}

.social-links{
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.useful-links{
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
}






.bubbles img { 
    width:50px ;
    animation: bubble 7s linear infinite;

}

.bubbles  { 
    width:100% ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;

}

@keyframes bubble {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-110vh);
        opacity: 0;
    }
    
    
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 60px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 60px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
    width: 30px;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 35px;
}




.wrapper-dragdrop{
  width: 700px;
  height: 800px;
  background: #fff;
  border-radius: 5px;
  padding: 50px;
  box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
  margin: auto;
  margin-top: 2%;

  
}

.wrapper-dragdrop .title{
  color: #311e1e;
  font-size: 20px;
  font-weight: 700;
  height: 40px;
  text-align: center;
  margin: auto;
  font-family: 'Bowlby One SC', cursive;
  background: linear-gradient(#d8edf8 ,#fff );
 
}


.wrapper-dragdrop button{
  position: relative;
  height: 52px;
  width:100%;
  border-radius:50px;
  border: none;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  margin-top: 10px;
  background: #3ca9e2 ;
  transition: 0.3s ease;
  text-align: center;
  margin:22px 0 50px;
  color: #000000;
  top: 55px;
}
.wrapper-dragdrop button:hover{
  background: rgba(0, 136,169,0.8);
}

.box {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box select {
  background-color: #1f283b;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  border-radius:10px;
}

.box::before {
  /* content: "\f13a"; */
  font-family: FontAwesome;
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 28px;
  line-height: 45px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
}

.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}
/* body .popup{
  position:absolute;
  background: #5cb905;
  margin:22px 0 50px; ;
  width: 200px;
  text-align: center;
  height: 75px;
  right: 10%;
  color :#fff

 
} */


.popup img{
  width: 150px;
  
  margin-top: -50px;
  border-radius: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}
.popup{
  width: 400px;
  background: #1f283b;
  border-radius: 10px;
  position: fixed;
  top: 30%;
  left: 85%;
  transform: translate(-50%,-50%) ;
  text-align: center;
  padding: 0 30px 30px ;
  color: #fff;

}

.popup.active{
  visibility: visible;
}

.popup h2{
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;

}

.describe_project{
  width: 400px;
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  position: fixed;
  top: 35%;
  left: 15%;
  transform: translate(-50%,-50%) ;
  box-shadow: 7px 7px 12px rgba(0,0,0,0.05);
  padding: 0 30px 30px ;
  color: #000;


}

.describe_project h1{
  font-size: 25px;
  font-family: 'Bowlby One SC', cursive;
  color:#3ca9e2
}


.describe_project button {
  padding: 9px 25px;
  background-color: #3ca9e2 ;
  border: none;
  border-radius:50px;
  cursor: pointer;
  transition: all 0.3s case 0s;
}


.describe_project button:hover {
  background-color: rgba(0, 136,169,0.8);
}