    <!-- similarity <div class="hero">
        <div class="wrapper">
            <header>Similarity between 2 documents</header>
            <form action="{{url_for('cosinus_similarity')}}" methods="POST">
                <div class="row">
                    <label>Enter Text1</label>
                    <textarea name="text1"></textarea>
                    <input type='cosinus_similarity'> 
                </div>
                <div class="row">
                    <label>Enter Text2</label>
                    <textarea name="text2"></textarea>
                    <input type='cosinus_similarity'> --> 
                <!-- </div>
                <div class="row">
                    <label>Select vectorizer</label>
                    <div class="outer">
                    <select>
                        
                        <option value="scipy_processing">scipy_processing</option>
                        <option value="nlp_processing">nlp_processing</option>
                            
                        
                    </select>
                    </div>
                </div>
                <button>Compute similarity</button>
            </form>
            <br>
            <br>
            {{ similarity_ }}
        </div> -->

        <!-- <div class="wrapper-dragdrop">
            <header>File Uploader (similarity)</header>
            <form action="#" method="POST" enctype="multipart/form-data">
              <input class="file-input" type="file" name="file" hidden>
              <i class="fas fa-cloud-upload-alt"></i>
              <p>Browse File to Upload</p>
              
            </form>
            <div class="btn">
                <button>Compute similarity</button>
            </div>
            
        </div>
    </div> -->